---
---

@import "{{ site.theme }}";

.main-content h3 {
  border-left: 3px solid #155799;
  padding-left: 0.6em;
  margin-left: -0.6em;
}

.main-content hr {
  margin: 2rem 0;
  border-color: #dce6f0;
}
